<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Bitcamp</title>
</head>

<body>    
  <!-- As a heading -->
  <nav class="navbar bg-info py-3">
    <h2 class="text-white"><strong>Agro</strong>Expert</h2> 
    <div id="google_translate_element"></div>
  </nav>

  <div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container">
      <h1 class="display-4">Your farm is a <span  
        class="txt-rotate"
        data-period="200"
        data-rotate='[ "business."]'></span></h1>
      <p class="lead">We help small scale farmers take business decisions customised to their needs, and help
        them see their farm as a business!
      </p>  
          
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h2 class="py-3">Answer just 3 easy questions</h2>
    <div class="row py-4">
        <div class="col-sm-4">
          <h3>Question 1</h3>
          <h1 class="display-1 text-info"><i class="fas fa-map-marker-alt"></i></h1>
          <p class="lead">Where do you live?</p>
        </div>

        <div class="col-sm-4">
            <h3>Question 2</h3>
            <h1 class="display-1 text-info"><i class="fas fa-chart-area"></i></h1>
            <p class="lead">How much land do you own?</p>
        </div>

        <div class="col-sm-4">
            <h3>Question 3</h3>
            <h1 class="display-1 text-info"><i class="fas fa-rupee-sign"></i></h1>
            <p class="lead">How much investment can you make?</p>
        </div>

    </div>
  </div>

<div class="container w-50 mx-auto"> 
  <form action="/results" methods="POST">

      <div class="form-group">
        <div class="form-group">
          <label for="pincode">Enter your State:</label>
          <select class="form-control" name="state" id="state">
            <option value="Maharashtra">Maharashtra</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Chhatisgarh">Chhatisgarh</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Orissa">Orissa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Assam">Assam</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Punjab">Punjab</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Kerala">Kerala</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
            <option value="Haryana">Haryana</option>
            <option value="Bihar">Bihar</option>
            <option value="Karnataka">Karnataka</option>

          </select>
        </div> 
      </div>

      <div class="form-group">
        <label for="area">Area (in hectares):</label>
        <input type="number" class="form-control" id="area" name="area" placeholder="Enter area Ex. 2">
      </div>

      <div class="form-group">
          <label for="capital">Capital in Rupees:</label>
          <input type="number" class="form-control" id="capital" name="capital" placeholder="Enter capital">
      </div>
        
    <input class="btn btn-info" type="submit" value="Submit">
  </form>
    </div>

    <footer class="p-3 bg-dark text-white page-footer pt-4 mt-4">

      <!--Footer Links-->
      <div class="container text-center">

        <h5 class="text-center" >This application was developed by -</h5>
                    Kaushal Bhogale , Asutosh Padhi , Adheesh Juvekar , Manali Jambavalikar
      </div>            
          
      <!--Copyright-->
      <div class="footer-copyright py-3 text-center">
              © 2018 Copyright:
              <a>  O(1/n) </a>
      </div>
          <!--/.Copyright-->
      
    </footer>
                        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'gu,hi,mr,bn,ms,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script>
        var TxtRotate = function(el, toRotate, period) {
          this.toRotate = toRotate;
          this.el = el;
          this.loopNum = 0;
          this.period = parseInt(period, 10) || 2000;
          this.txt = '';
          this.tick();
          this.isDeleting = false;
        };
        
        TxtRotate.prototype.tick = function() {
          var i = this.loopNum % this.toRotate.length;
          var fullTxt = this.toRotate[i];
        
          if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
          } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
          }
        
          this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
        
          var that = this;
          var delta = 300 - Math.random() * 100;
        
          if (this.isDeleting) { delta /= 2; }
        
          if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
          } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
          }
        
          setTimeout(function() {
            that.tick();
          }, delta);
        };
        
        window.onload = function() {
          var elements = document.getElementsByClassName('txt-rotate');
          for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
          }
          // INJECT CSS
          var css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
          document.body.appendChild(css);
        };
    </script>
     </body>
</html>